.body_background {
    background-image: url('bg.png');
}

#bdy {
    background-image: url('bg.png');
}

#div1,
#div2 {
    background: rgb(133, 237, 255);
    padding: 10px;
    float: none;
    border-radius: 15px;
    width: fit-content;
}

#player1_name,
#player2_name {
    display: inline-block;
    margin-left: 20px;
}

#number1,
#number2 {
    width: 60%;
}

#output {
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}